body {
    font-family: sans-serif;
    background-color: lightgray;
}


.Heading {
    color: darkgray;
    width: fit-content;
    padding: 5px;
    
    /* text-decoration-line: underline;
    text-underline-offset: 8px; */
}