    /* Fonts */
/* Quantic-Regular */
@font-face {
    font-family: Quantico-Regular;
    src: url("../fonts/Quantico-Regular.ttf");
}

/* Quantico-Bold */
@font-face {
    font-family: Quantico-Bold;
    src: url("../fonts/Quantico-Bold.ttf");
}

/* Simplifica */
@font-face{
    font-family: Simplifica;
    src: url(../fonts/SIMPLIFICA.ttf);
}

/* Mosk-ExtraBold */
@font-face{
    font-family: Mosk-ExtraBold;
    src: url("../fonts/Mosk\ Extra-Bold\ 800.ttf");
}

/* Overpass */
@font-face {
    font-family: Overpass;
    src: url("../fonts/overpass-extrabold.otf");
}


    /* body */
    
.body { 
    font-family: sans-serif; 
}

    /* heading screen */
    
#title { 
    color: darkgrey; 
    width: fit-content; 

    font-family: Quantico-Regular;
    font-size: 50px;

    padding-left: 5px;
    padding-top: 15px; 
    margin: 0;
}

#headingRectangle{
    background-color: white;

    border: solid;
    border-width: 19px;
    border-color: rgb(56, 92, 104);

    border-style: double;
    margin: 0, auto;
    padding-top: 1px;
    padding-left: 10px;
    
    width: 1864px;
    height: 90px;
}

#myAccountButton{
    position: absolute;
    top: 50px;
    right: 40px;

    background-color: #4CAF50;

    border-style: ridge;
    border-color: black;
}

    /* main screen */
/* Buttons/Links */
#playChessLink{
    color: rgb(56, 92, 104);

    border: solid;
    border-width: 2px;

    border-top-left-radius: 0px;
    border-top-right-radius: 0px;

    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    
    position: absolute;
    top: 136px;
    right: 235px;

    width: fit-content;
    height: 15px;

    text-align: right;

    background-color: #ffffffdd;
    padding: 16px;
    font-size: 16px;
}

#aboutUs{
    color: rgb(56, 92, 104);

    border: solid;
    border-width: 2px;

    border-top-left-radius: 0px;
    border-top-right-radius: 0px;

    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;

    position: absolute;
    top: 136px;
    right: 100px;

    width: fit-content;
    height: 15px;

    text-align: right;

    background-color: #ffffffdd;
    padding: 16px;
    font-size: 16px;
}

#tournamentsButton{
    font-family: Quantico-Bold;
    font-size: x-large;
    color: rgb(235, 235, 235);

    background: none;
    border: none;
}

.accountButton{
    position: absolute;

    border-style: ridge;
    border-radius: 10px;
    
    padding: 10px 20px;
    margin: 4px 2px;
    
    color: white;
    font-size: 16px;
    font-family: Quantico-Regular;

    cursor: pointer;
}

#loginButton:hover{
    color:  rgb(215, 215, 215);
    border-color: grey;
    background-color: #3e8e41!important;
}

#signUpButton:hover{
    color: grey;
    border-color: grey;
}


.dropdown {
    position: relative;
    left: 1450px;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropButton {

}
